.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .8;
  }

  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-close-button {
    align-self: flex-end;
  }

.detail__content {
    height: 95vh;
    width: max-content;
    padding: 1rem 1.5rem;
    border: solid 2px;
    border-radius: 3px;
    border-color: #303030;
    box-shadow: 0 .4rem 1rem rgba(#000, .16);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail__image {
    height: 93%;
    margin-bottom: .8rem;
}

.detail__img {
    background-size: cover;
    /* width: 100%; 
    height: 85vh; */
    height: 100%;
    border-radius: 3px;
}

.detail__text-box {
    height: 7%;
    width: 100%;
    padding-top: .5rem;

    display: flex;
    justify-content: space-between;
}

.detail__name {
    display: flex;
    flex-direction: column;
}

.detail__head {
    font-family: 'Galvji', sans-serif;
    color: #bcbcbc;
    text-transform: uppercase;
    margin-right: .4rem;
}

.detail__type {
    font-family: 'Galvji', sans-serif;
    color: #bcbcbc;
    margin-right: 2rem;
}

.detail__info {
    margin-bottom: 1.8rem;

    display: flex;
    align-items: flex-end;
}

.detail__thumbs {
    display: flex;   
}

.detail__thumb {
    height: 4rem;
}