.stone__card {
    margin: 1rem;
    height: 26rem;
    width: 32rem;
    border-radius: 3px;
    border: solid 2px;
    border-color: #303030;
    box-shadow: .4rem .4rem 1rem rgba(0, 0, 0, .3);

    transition: all .2s;
}

.stone__img {
    background-size: cover;
    height: 21.6rem;
    width: 31.6rem;
    border-radius: 3px;
}

.stone__card-head {
    font-size: 1.15rem; 
}

.stone__card-type {
    font-size: 1rem;
}

.stone__card-head,
.stone__card-type {
    margin-left: .5rem;
}

.stone__card:hover {
    transform: scale(1.04);
}
  