.contact {
    height: 80vh;
    width: 100%;
    background-color: #333333;
    font-family: 'Galvji', sans-serif;
    color: #bcbcbc;
    padding-top: 15rem;

    display: flex;
}

.contact__text-box {
    width: 40%;
    margin-top: 1rem;
}

.contact__logo {
    width: 25rem;
    margin-left: 20rem;
    margin-bottom: 2rem;
}

.contact__address {
    margin-left: 25rem;
}

.contact__map-box {
    width: 60%;
}

.contact__map {
    width: 45%;
    margin-left: 25rem;
}