* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #333333;
    line-height: 1.6;   
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Helvetica';
    src: url(./assets/fonts/Helvetica.ttc);
}

@font-face {
    font-family: 'Galvji';
    src: url(./assets/fonts/Galvji.ttc);
}

@font-face {
    font-family: 'Industry-Book';
    src: url(./assets/fonts/Industry-Book.ttf);
}