.nav {
    background-color: #666666;
    height: 6vh;
    width: 100%;
    padding: .8rem;
    overflow: hidden;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__item {
    transition: all .2s; 
    font-family: 'Galvji', sans-serif;
    font-size: 1.8rem;
    color: #bcbcbc;
    text-transform: uppercase;
    list-style-type: none;
    backface-visibility: hidden;
    transition: all .3s;
    text-decoration: none;
}

.nav__link, .nav__link:visited {
    color: #bcbcbc;
    text-decoration: none;
}

.nav__link:hover, .nav__link:active {
    color: #f9f7f6;
    transform: scale(1.1);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky + .about {
    padding-top: 7.6%;
}

.sticky + .about + .stone {
    padding-top: 2.5%;
}
